{% extends "common/master.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}



<section>
    <div class="row" style=" background-color: lightgrey;padding: 4px;">
      <div class="col-md-4">
          <img src="{% static 'images/child2.jpg' %}" alt="" width="103%" height="100%" >
          
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/child3.jpg' %}" alt="" width="103%" height="100%">
          
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/child4.jpg' %}" alt="" width="103%" height="100%">
          
      </div>
      
  </div>
  </div>
  </section>
  <section>
    <div class="row" style=" background-color: lightgrey;padding: 6px;">
        <div class="col-md-8">
            <img src="{% static 'images/child5.jpg' %}" alt="" width="101%" height="100%">
            
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/child6.jpg' %}" alt="" width="103%" height="100%">
              
          </div>

  </section>

   
    <!-- <section>
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/houzzz.jpg' %}" class="d-block w-100" alt="..." style="height: 600PX;">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/mount-carmel.jpg' %}" class="d-block w-100" alt="..."
                        style="height: 600PX;">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/IMG_3925.jpg' %}" class="d-block w-100" alt="..."
                        style="height: 600PX;">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/provzzzzzzz.jpg' %}" class="d-block w-100" alt="..."
                        style="height: 600PX;">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/prov old.jpg' %}" class="d-block w-100" alt="..."
                        style="height: 600PX;">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section> -->
    
    <section>
        <div class="inner">
            <h1 style="color: darkblue; text-align: center;">WHY PHSS?</h1><br><br>
            <div class="row">
                <div class="col-md-6">
                    <img src="https://www.ecu.edu.au/__data/assets/image/0012/994575/Hanny-Lucy-portrait.jpg"
                        width="100%" alt="">
                    <h4 style="margin-top: 2%;">Mission</h4>
                    <P>Called to live in God's presence,We share Christ Mission to transform the world in love. To
                        create a community of staff and students to commited to the pursuit of academical and ethical
                        excellence. To faster an inclusive culture by providing equal opportunity for education to every
                        section of the society.</P>
                </div>
                <div class="col-md-6">
                    <img src="https://i0.wp.com/cms.babbel.news/wp-content/uploads/2019/09/CM_MagazineHeader_10MostSpokenLanguages.png?resize=960%2C540"
                        width="100%" alt="">
                    <h4 style="margin-top: 2%;">Vision</h4>
                    <p>Experience the compassionate love of God in contemplation,radiating it in our life and
                        Mission.The guiding vision of the collage is the holistic devolopment of the individual through
                        the dissemination of knowledge and the instilling of the Gospal value of justice,Love and Peace
                        in the young women we educate.</p>
                </div>

            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-3">
                    <h1 style="color: darkblue; text-align: center;">40+</h1>
                    <p style="text-align: center;">GLORIOUS YEARS OF EXCELLECNCE</p>
                </div>
                <div class="col-md-3">
                    <h1 style="color: darkblue; text-align: center;">2</h1>
                    <p style="text-align: center;">SYLLABUS:KERALA STATE BOARD & CBSE CURRICULUM</p>
                </div>
                <div class="col-md-3">
                    <h1 style="color: darkblue; text-align: center;">15+</h1>
                    <p style="text-align: center;">ACADEMIC INSTITUTE IN UAE,UK &INDIA</p>
                </div>
                <div class="col-md-3">
                    <h1 style="color: darkblue; text-align: center;">80%</h1>
                    <p style="text-align: center;">STUDENT ACHEIVING DISTINCTION</p>
                </div>

            </div>
        </div>
    </section>

    <section>
        <!-- <div style="width: 100%; height: 100%; background-color: blue;color: white;text-align: center;margin-top: 3%;">
            <p> <b>"The highest result of education is tolerance"</b> </p>
            <p style="text-align: center;"><b><u>Helen keller</u></b></p>

        </div> -->
        <div>
            <img src="{% static 'images/education.jpg' %}" alt="" width="100px" height="100px">
        </div>
    </section>
   
{% endblock %}